/.claude/skills/*
!/.claude/skills/README.md
!/.claude/skills/organize-reading-note/
!/.claude/skills/organize-reading-note/*
!/.claude/skills/page-reader/
!/.claude/skills/page-reader/*

skills-lock.json
